[project]
name = "pygranso"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13.7"
dependencies = [
    "click>=8.2.1",
    "e3nn>=0.5.7",
    "gurobipy>=12.0.3",
    "ipykernel>=6.30.1",
    "jupyter>=1.1.1",
    "osqp[cu12]>=1.0.4",
    "pandas>=2.3.2",
    "polars>=1.32.3",
    "scikit-learn>=1.7.1",
    "scipy>=1.16.1",
    "tf-nightly>=2.21.0.dev20250903",
    "torch>=2.8.0",
    "torchaudio>=2.8.0",
    "torchvision>=0.23.0",
    "wandb>=0.21.3",
]
